<html lang="en-US">
</head>
<body class="page-template-default page page-id-2 custom-background wp-embed-responsive site-layout-fluid global-layout-right-sidebar" data-new-gr-c-s-check-loaded="14.1045.0" data-gr-ext-installed="">
<div id="page" class="container hfeed site">
  <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
  <div id="tophead">
    <div class="container">
      <div id="quick-contact">
        <ul>
          <li class="quick-call"><a href="tel:919488666733"><i class="fas fa-phone-alt"></i> +91 9488666733</a></li>
          <li class="quick-email"><a href="mailto:alnafiseducation@gmail.com"><i class="fas fa-envelope"></i> alnafiseducation@gmail.com</a></li>
        </ul>
      </div>
      <div class="quick-links">
        <a href="#" class="links-btn">Quick Links</a>
        <ul id="menu-home" class="menu">
          <li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-315"><a href="/">Home</a></li>
          <li id="menu-item-316" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item menu-item-316"><a href="/about_us/" aria-current="page">About Us</a></li>
          <li id="menu-item-318" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318"><a href="/enquiry/">Enquiry</a></li>
          <li id="menu-item-320" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-320"><a href="/service/">Services</a></li>
          <li id="menu-item-317" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-317"><a href="/contact/">Contact</a></li>
          <li id="menu-item-327" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-327"><a href="http://www.alnafistravels.in/">Alnafis Travels</a></li>
        </ul>
      </div>
      <div class="header-social-wrapper">
        <div class="widget education_hub_widget_social"></div>
      </div>
      <!-- .header-social-wrapper -->
    </div>
    <!-- .container -->
  </div>
  <!--  #tophead -->
  <header id="masthead" class="site-header" role="banner">
    <div class="container">
      <div class="site-branding">
        <div id="site-identity">
          <p class="site-title"><a href="/" rel="home">                               Alnafis Education</a></p>
          <p class="site-description">                               Educational Consultancy</p>
        </div>
        <!-- #site-identity -->
      </div>
      <!-- .site-branding -->
    </div>
    <!-- .container --></header>
  <!-- #masthead -->
  <div id="main-nav" class="clear-fix">
    <div class="container">
      <nav id="site-navigation" class="main-navigation" role="navigation">
        <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"><i class="fa fa-bars"></i>
          Menu</button>
        <div class="wrap-menu-content">
          <div class="menu-home-container">
            <ul id="primary-menu" class="menu">
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-315"><a href="/">Home</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item menu-item-316"><a href="/about_us/" aria-current="page">About Us</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318"><a href="/enquiry/">Enquiry</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-320"><a href="/service/">Services</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-317"><a href="/contact/">Contact</a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-327"><a href="http://www.alnafistravels.in/">Alnafis Travels</a></li>
            </ul>
          </div>
        </div>
        <!-- .menu-content -->
      </nav><!-- #site-navigation -->
    </div>
    <!-- .container -->
  </div>
  <!-- #main-nav -->
  <div id="content" class="site-content">
    <div class="container">
      <div class="inner-wrapper">
        <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">
            <article id="post-2" class="post-2 page type-page status-publish hentry">
              <header class="entry-header">
                <h1 class="entry-title">About Us</h1>
              </header>
              <!-- .entry-header -->
              <div class="entry-content">
                <p><strong>Alnafis Educational Consultancy</strong> is an educational consultancy with its base in Kallakurichi, which guides and offers students seats in varied fields and courses, not just in Kallakurichi, but throughout India. We are the best Domestic and Overseas education consultants in Kallakurichi. We are renowned for sending students to top grade medical colleges in Kyrgyzstan, Russia, U.K, China &amp; Philippines. <br>
                  <br>
                  Driven by the motif that education is global and has no limits, at Alnafis Educational Consultancy we strive to steer students to follow pursue their studies of interest in colleges that suit them. With our 6 years of expertise we ensure that the students seeking MBBS in abroad secure seats in colleges suitable for them accounting all conditions. <br>
                  <br>
                  At <strong>Alnafis Educational Consultancy</strong>, we assure you a hassle free admission in prestigious colleges, across the globe. <br>
                  <br>
                  At <strong>Alnafis Educational Consultancy</strong> we firmly believe that the secret in education lies in respecting the students. It is our motto to ceaselessly deliver better education. We offer counselling services to students in India and the non-residents of India, as well, and help them get admission in colleges of the student’s preferences.</p>
                <p></p>
                <p></p>
              </div>
              <!-- .entry-content -->
              <footer class="entry-footer">
              </footer>
              <!-- .entry-footer -->
            </article>
            <!-- #post-## -->
          </main><!-- #main -->
        </div>
        <!-- #primary -->
        <div id="sidebar-primary" class="widget-area" role="complementary">
          <aside id="search-2" class="widget widget_search">
            <form role="search" method="get" class="search-form" action="/">
              <label>
                <span class="screen-reader-text">Search for:</span>
                <input type="search" class="search-field" placeholder="Search..." value="" name="s" title="Search for:">
              </label>
              <input type="submit" class="search-submit" value="Search">
            </form>
          </aside>
          <aside id="recent-posts-2" class="widget widget_recent_entries">
            <h2 class="widget-title">Recent Posts</h2>
            <ul>
              <li>
                <a href="/2021/12/20/most-desirable-10-greatest-kid-backpacking-backpacks-found-at-2021-research/">Most desirable 10 Greatest Kid Backpacking Backpacks Found at 2021 Research</a>
              </li>
              <li>
                <a href="/2021/12/20/mbbs-admission-start-tamil-nadu/">MBBS ADMISSION START TAMIL NADU.</a>
              </li>
              <li>
                <a href="/2021/12/20/use-of-force-that-is-being-controlled-by-the-international-law-at-this-present-time-is-out-of-date-and-changes-need-to-be-carried-out-force-in/">Use of force that is being controlled by the international law at this present time is out of date and changes need to be carried out Force in</a>
              </li>
              <li>
                <a href="/2021/12/20/college-entrance-essay-writer-service/">College Entrance Essay Writer Service</a>
              </li>
              <li>
                <a href="/2021/12/19/education-is-more-important-than-money-essay-on-eduwritemyessay-com/">Education Is More Important Than Money Essay on eduwritemyessay.com</a>
              </li>
            </ul>
          </aside>
          <aside id="categories-2" class="widget widget_categories">
            <h2 class="widget-title">Categories</h2>
            <ul>
              <li class="cat-item cat-item-6"><a href="/category/blog/">blog</a>
              </li>
              <li class="cat-item cat-item-1"><a href="/category/news/">News</a>
              </li>
            </ul>
          </aside>
        </div>
        <!-- #sidebar-primary -->
      </div>
      <!-- .inner-wrapper --></div>
    <!-- .container --></div>
  <!-- #content -->
</body></html>
