<html lang="en-US"><head>
</head>
<body class="home page-template-default page page-id-29 custom-background wp-embed-responsive site-layout-fluid global-layout-right-sidebar" data-new-gr-c-s-check-loaded="14.1045.0" data-gr-ext-installed="">
<div id="page" class="container hfeed site">
  <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
  <div id="tophead">
    <div class="container">
      <div id="quick-contact">
        <ul>
          <li class="quick-call"><a href="tel:919488666733"><i class="fas fa-phone-alt"></i> +91 9488666733</a></li>
          <li class="quick-email"><a href="mailto:alnafiseducation@gmail.com"><i class="fas fa-envelope"></i> alnafiseducation@gmail.com</a></li>
        </ul>
      </div>
      <div class="quick-links">
        <a href="#" class="links-btn">Quick Links</a>
        <ul id="menu-home" class="menu">
          <li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-29 current_page_item menu-item-315"><a href="/" aria-current="page">Home</a></li>
          <li id="menu-item-316" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-316"><a href="/about_us">About Us</a></li>
          <li id="menu-item-318" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318"><a href="/enquiry/">Enquiry</a></li>
          <li id="menu-item-320" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-320"><a href="/service/">Services</a></li>
          <li id="menu-item-317" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-317"><a href="/contact/">Contact</a></li>
          <li id="menu-item-327" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-327"><a href="http://www.alnafistravels.in/">Alnafis Travels</a></li>
        </ul>
      </div>
      <div class="header-social-wrapper">
        <div class="widget education_hub_widget_social"></div>
      </div>
      <!-- .header-social-wrapper -->
    </div>
    <!-- .container -->
  </div>
  <!--  #tophead -->
  <header id="masthead" class="site-header" role="banner">
    <div class="container">
      <div class="site-branding">
        <div id="site-identity">
          <p class="site-title"><a href="/" rel="home">                               Alnafis Education</a></p>
          <p class="site-description">                               Educational Consultancy</p>
        </div>
        <!-- #site-identity -->
      </div>
      <!-- .site-branding -->
    </div>
    <!-- .container --></header>
  <!-- #masthead -->
  <div id="main-nav" class="clear-fix">
    <div class="container">
      <nav id="site-navigation" class="main-navigation" role="navigation">
        <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"><i class="fa fa-bars"></i>
          Menu</button>
        <div class="wrap-menu-content">
          <div class="menu-home-container">
            <ul id="primary-menu" class="menu">
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-29 current_page_item menu-item-315"><a href="/" aria-current="page">Home</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-316"><a href="/about_us">About Us</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318"><a href="/enquiry/">Enquiry</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-320"><a href="/service/">Services</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-317"><a href="/contact/">Contact</a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-327"><a href="http://www.alnafistravels.in/">Alnafis Travels</a></li>
            </ul>
          </div>
        </div>
        <!-- .menu-content -->
      </nav><!-- #site-navigation -->
    </div>
    <!-- .container -->
  </div>
  <!-- #main-nav -->
  <div id="featured-news-events">
    <div class="container">
      <div class="inner-wrapper">
        <div class="recent-news">
          <h2>News</h2>
          <div class="inner-wrapper">
            <div class="news-post">
              <div class="news-content">
                <h3><a href="/2021/12/20/most-desirable-10-greatest-kid-backpacking-backpacks-found-at-2021-research/">Most desirable 10 Greatest Kid Backpacking Backpacks Found at 2021 Research</a></h3>
                <div class="block-meta">
                  <a href="/2021/12/20/most-desirable-10-greatest-kid-backpacking-backpacks-found-at-2021-research/" rel="bookmark"><time class="entry-date published" datetime="2021-12-20T13:48:24+00:00">December 20, 2021</time><time class="updated" datetime="2021-12-21T11:48:22+00:00">December 21, 2021</time></a>	  					</div>
                <p>Choosing your infant jar along with you with its young...</p>
                <a href="/2021/12/20/most-desirable-10-greatest-kid-backpacking-backpacks-found-at-2021-research/" class="button">Read More</a>
              </div>
              <!-- .news-content -->
            </div>
            <!-- .news-post -->
            <div class="news-post">
              <div class="news-content">
                <h3><a href="/2021/12/20/mbbs-admission-start-tamil-nadu/">MBBS ADMISSION START TAMIL NADU.</a></h3>
                <div class="block-meta">
                  <a href="/2021/12/20/mbbs-admission-start-tamil-nadu/" rel="bookmark"><time class="entry-date published" datetime="2021-12-20T03:49:32+00:00">December 20, 2021</time><time class="updated" datetime="2021-12-20T03:49:40+00:00">December 20, 2021</time></a>	  					</div>
                <a href="/2021/12/20/mbbs-admission-start-tamil-nadu/" class="button">Read More</a>
              </div>
              <!-- .news-content -->
            </div>
            <!-- .news-post -->
          </div>
          <!-- .inner-wrapper -->
        </div>
        <!-- .recent-news -->
      </div>
      <!-- .inner-wrapper -->
    </div>
    <!-- .container -->
  </div>
  <!-- #featured-news-events -->
  <div id="content" class="site-content">
    <div class="container">
      <div class="inner-wrapper">
        <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">
            <article id="post-29" class="post-29 page type-page status-publish hentry">
              <header class="entry-header">
                <h1 class="entry-title">Home</h1>
              </header>
              <!-- .entry-header -->
              <div class="entry-content">
                <p>Welcome to Alnafis Educational Consultancy… <br>
                  <br>
                  We are here to provide Consultancy for the education in Domestic and International…. </p>
                <p>Alnafis Educational Consultancy represents over 150 leading education institutions around the world. We offer end to end services to students; right from identifying the right course to the right destination. We have been instrumental in helping many students realize their dream of studying abroad come true.</p>
                <p>Alnafis education consultancy  was founded in December 2013; with well qualified and experienced educational consultancy in Tamilnadu. We have 8 years of experience in the field of educational consultancy and career support to students in medical and engineering institutions. We have progressively guiding diverse students for their domestic and international career and to realize their dreams. We have enormous administrative experience in various reputed institutions to bridging the students and management.</p>
                <p>Our mission is to help students in every aspects and circumstances round the clock via every available possibility of communications for their best future path and built their carrier accordingly.</p>
                <figure class="wp-block-image size-large"><img loading="lazy" width="1017" height="1024" src="<%= image_url("home-page.jpg") %>" alt="" class="wp-image-252" srcset="" sizes="(max-width: 1017px) 100vw, 1017px"></figure>
              </div>
              <!-- .entry-content -->
              <footer class="entry-footer">
              </footer>
              <!-- .entry-footer -->
            </article>
            <!-- #post-## -->
          </main><!-- #main -->
        </div>
        <!-- #primary -->
        <div id="sidebar-primary" class="widget-area" role="complementary">
          <aside id="search-2" class="widget widget_search">
            <form role="search" method="get" class="search-form" action="/">
              <label>
                <span class="screen-reader-text">Search for:</span>
                <input type="search" class="search-field" placeholder="Search..." value="" name="s" title="Search for:">
              </label>
              <input type="submit" class="search-submit" value="Search">
            </form>
          </aside>
          <aside id="recent-posts-2" class="widget widget_recent_entries">
            <h2 class="widget-title">Recent Posts</h2>
            <ul>
              <li>
                <a href="">Most desirable 10 Greatest Kid Backpacking Backpacks Found at 2021 Research</a>
              </li>
              <li>
                <a href="">MBBS ADMISSION START TAMIL NADU.</a>
              </li>
              <li>
                <a href="">Use of force that is being controlled by the international law at this present time is out of date and changes need to be carried out Force in</a>
              </li>
              <li>
                <a href="">College Entrance Essay Writer Service</a>
              </li>
              <li>
                <a href="">Education Is More Important Than Money Essay on eduwritemyessay.com</a>
              </li>
            </ul>
          </aside>
          <aside id="categories-2" class="widget widget_categories">
            <h2 class="widget-title">Categories</h2>
            <ul>
              <li class="cat-item cat-item-6"><a href="/">blog</a>
              </li>
              <li class="cat-item cat-item-1"><a href="/">News</a>
              </li>
            </ul>
          </aside>
        </div>
        <!-- #sidebar-primary -->
      </div>
      <!-- .inner-wrapper --></div>
    <!-- .container --></div>
  <!-- #content -->
</div>
</body></html>
